body, html {
    height: 100%;
    }

    .bg {
    background-image: url("https://www.moleculeralabs.com/images/in-cunningham-lab-overview.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }